In [19]:
# Import

import requests
import pandas as pd
import json
import pprint
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path
import geopandas as gpd

In [20]:
# Load the GeoJSON file

path_object = Path('Resources/Bicycle_Thefts_Open_Data.geojson')

In [21]:
# Convert the data to a Pandas dataframe

df = gpd.read_file(path_object)
df.head(10)

,OBJECTID,EVENT_UNIQUE_ID,PRIMARY_OFFENCE,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DAY,OCC_DOY,OCC_HOUR,...,BIKE_COLOUR,BIKE_COST,STATUS,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84,geometry
0,1,GO-20141261431,THEFT UNDER,2014-01-01T05:00:00+00:00,2014,January,Wednesday,1,1,7,...,NaN,NaN,STOLEN,85,South Parkdale,85,South Parkdale (85),-79.442323,43.639001,POINT (-79.44232 43.63900)
1,2,GO-20141263784,PROPERTY - FOUND,2014-01-01T05:00:00+00:00,2014,January,Wednesday,1,1,18,...,BLK,NaN,RECOVERED,80,Palmerston-Little Italy,80,Palmerston-Little Italy (80),-79.414663,43.660520,POINT (-79.41466 43.66052)
2,3,GO-20141263544,B&E,2013-12-26T05:00:00+00:00,2013,December,Thursday,26,360,19,...,SILRED,1300.0,STOLEN,165,Harbourfront-CityPlace,77,Waterfront Communities-The Island (77),-79.396021,43.640894,POINT (-79.39602 43.64089)
3,4,GO-20141266048,THEFT UNDER,2013-12-30T05:00:00+00:00,2013,December,Monday,30,364,17,...,WHI,500.0,STOLEN,39,Bedford Park-Nortown,39,Bedford Park-Nortown (39),-79.429589,43.718416,POINT (-79.42959 43.71842)
4,5,GO-20141267465,THEFT UNDER,2013-09-30T04:00:00+00:00,2013,September,Monday,30,273,0,...,BLK,750.0,STOLEN,78,Kensington-Chinatown,78,Kensington-Chinatown (78),-79.403487,43.649604,POINT (-79.40349 43.64960)
5,6,GO-20149000071,THEFT UNDER,2013-12-25T05:00:00+00:00,2013,December,Wednesday,25,359,10,...,RED,400.0,STOLEN,71,Cabbagetown-South St.James Town,71,Cabbagetown-South St.James Town (71),-79.373336,43.666228,POINT (-79.37334 43.66623)
6,7,GO-20149000074,THEFT UNDER,2013-12-25T05:00:00+00:00,2013,December,Wednesday,25,359,16,...,WHI,1500.0,STOLEN,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.373102,43.652257,POINT (-79.37310 43.65226)
7,8,GO-20149000090,THEFT UNDER,2014-01-01T05:00:00+00:00,2014,January,Wednesday,1,1,12,...,BLU,1019.0,STOLEN,165,Harbourfront-CityPlace,77,Waterfront Communities-The Island (77),-79.393925,43.642733,POINT (-79.39393 43.64273)
8,9,GO-20141272882,THEFT UNDER,2013-07-01T04:00:00+00:00,2013,July,Monday,1,182,0,...,PLE,600.0,STOLEN,105,Lawrence Park North,105,Lawrence Park North (105),-79.403759,43.731125,POINT (-79.40376 43.73113)
9,10,GO-20149000113,THEFT UNDER,2013-12-31T05:00:00+00:00,2013,December,Tuesday,31,365,0,...,BLK,1500.0,STOLEN,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.375721,43.651695,POINT (-79.37572 43.65169)

In [22]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 31970 entries, 0 to 31969
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           31970 non-null  int64
 1   EVENT_UNIQUE_ID    31970 non-null  object
 2   PRIMARY_OFFENCE    31970 non-null  object
 3   OCC_DATE           31970 non-null  object
 4   OCC_YEAR           31970 non-null  int64
 5   OCC_MONTH          31970 non-null  object
 6   OCC_DOW            31970 non-null  object
 7   OCC_DAY            31970 non-null  int64
 8   OCC_DOY            31970 non-null  int64
 9   OCC_HOUR           31970 non-null  int64
 10  REPORT_DATE        31970 non-null  object
 11  REPORT_YEAR        31970 non-null  int64
 12  REPORT_MONTH       31970 non-null  object
 13  REPORT_DOW         31970 non-null  object
 14  REPORT_DAY         31970 non-null  int64
 15  REPORT_DOY         31970 non-null  int64
 16  REPORT_HOUR        31970 non-null  int64
 17  DIVISION           31970 non-null  object
 18  LOCATION_TYPE      31970 non-null  object
 19  PREMISES_TYPE      31970 non-null  object
 20  BIKE_MAKE          31970 non-null  object
 21  BIKE_MODEL         19926 non-null  object
 22  BIKE_TYPE          31970 non-null  object
 23  BIKE_SPEED         31970 non-null  int64
 24  BIKE_COLOUR        29305 non-null  object
 25  BIKE_COST          29808 non-null  float64
 26  STATUS             31970 non-null  object
 27  HOOD_158           31970 non-null  object
 28  NEIGHBOURHOOD_158  31970 non-null  object
 29  HOOD_140           31970 non-null  object
 30  NEIGHBOURHOOD_140  31970 non-null  object
 31  LONG_WGS84         31970 non-null  float64
 32  LAT_WGS84          31970 non-null  float64
 33  geometry           31970 non-null  geometry
dtypes: float64(3), geometry(1), int64(10), object(20)
memory usage: 8.3+ MB

In [36]:
# drop rows that have an NaN value 'bike cost' and columns ('LONG_WGS84', 'LAT_WGS84', 'HOOD_158', 'HOOD_140')

df_1 = df[df['BIKE_COST'].notna()]
df_new = df_1.drop(['HOOD_158', 'HOOD_140', 'geometry'], axis=1)
df_new.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 29808 entries, 2 to 31969
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           29808 non-null  int64
 1   EVENT_UNIQUE_ID    29808 non-null  object
 2   PRIMARY_OFFENCE    29808 non-null  object
 3   OCC_DATE           29808 non-null  object
 4   OCC_YEAR           29808 non-null  int64
 5   OCC_MONTH          29808 non-null  object
 6   OCC_DOW            29808 non-null  object
 7   OCC_DAY            29808 non-null  int64
 8   OCC_DOY            29808 non-null  int64
 9   OCC_HOUR           29808 non-null  int64
 10  REPORT_DATE        29808 non-null  object
 11  REPORT_YEAR        29808 non-null  int64
 12  REPORT_MONTH       29808 non-null  object
 13  REPORT_DOW         29808 non-null  object
 14  REPORT_DAY         29808 non-null  int64
 15  REPORT_DOY         29808 non-null  int64
 16  REPORT_HOUR        29808 non-null  int64
 17  DIVISION           29808 non-null  object
 18  LOCATION_TYPE      29808 non-null  object
 19  PREMISES_TYPE      29808 non-null  object
 20  BIKE_MAKE          29808 non-null  object
 21  BIKE_MODEL         18939 non-null  object
 22  BIKE_TYPE          29808 non-null  object
 23  BIKE_SPEED         29808 non-null  int64
 24  BIKE_COLOUR        27630 non-null  object
 25  BIKE_COST          29808 non-null  float64
 26  STATUS             29808 non-null  object
 27  NEIGHBOURHOOD_158  29808 non-null  object
 28  NEIGHBOURHOOD_140  29808 non-null  object
 29  LONG_WGS84         29808 non-null  float64
 30  LAT_WGS84          29808 non-null  float64
dtypes: float64(3), int64(10), object(18)
memory usage: 7.3+ MB

In [37]:
df_new['REPORT_DATE']

2        2014-01-01T05:00:00+00:00
3        2014-01-02T05:00:00+00:00
4        2014-01-02T05:00:00+00:00
5        2014-01-02T05:00:00+00:00
6        2014-01-02T05:00:00+00:00
                   ...
31963    2022-12-28T05:00:00+00:00
31964    2022-12-28T05:00:00+00:00
31966    2022-12-29T05:00:00+00:00
31968    2022-12-31T05:00:00+00:00
31969    2022-12-31T05:00:00+00:00
Name: REPORT_DATE, Length: 29808, dtype: object

In [38]:
# convert the OCC_date and REPORT_DATE to datetime type
df_new['OCC_DATE'] = pd.to_datetime(df_new['OCC_DATE'])
df_new['REPORT_DATE'] = pd.to_datetime(df_new['REPORT_DATE'])
df_new['OCC_DATE'] = df_new['OCC_DATE'].dt.date
df_new['REPORT_DATE'] = df_new['REPORT_DATE'].dt.date
df_new.head()

,OBJECTID,EVENT_UNIQUE_ID,PRIMARY_OFFENCE,OCC_DATE,OCC_YEAR,OCC_MONTH,OCC_DOW,OCC_DAY,OCC_DOY,OCC_HOUR,...,BIKE_MODEL,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,NEIGHBOURHOOD_158,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
2,3,GO-20141263544,B&E,2013-12-26,2013,December,Thursday,26,360,19,...,F59,RC,21,SILRED,1300.0,STOLEN,Harbourfront-CityPlace,Waterfront Communities-The Island (77),-79.396021,43.640894
3,4,GO-20141266048,THEFT UNDER,2013-12-30,2013,December,Monday,30,364,17,...,VITAMIN A,OT,24,WHI,500.0,STOLEN,Bedford Park-Nortown,Bedford Park-Nortown (39),-79.429589,43.718416
4,5,GO-20141267465,THEFT UNDER,2013-09-30,2013,September,Monday,30,273,0,...,CHARGER 9.2,MT,21,BLK,750.0,STOLEN,Kensington-Chinatown,Kensington-Chinatown (78),-79.403487,43.649604
5,6,GO-20149000071,THEFT UNDER,2013-12-25,2013,December,Wednesday,25,359,10,...,NaN,TO,25,RED,400.0,STOLEN,Cabbagetown-South St.James Town,Cabbagetown-South St.James Town (71),-79.373336,43.666228
6,7,GO-20149000074,THEFT UNDER,2013-12-25,2013,December,Wednesday,25,359,16,...,RZ 120 1,MT,21,WHI,1500.0,STOLEN,Downtown Yonge East,Church-Yonge Corridor (75),-79.373102,43.652257

In [39]:
# LOAD